df-messenger {
	--df-messenger-bot-message: #bdfcbf;
	--df-messenger-button-titlebar-color: #7ec472;
	--df-messenger-chat-background-color: #fafafa;
	--df-messenger-font-color: black;
	--df-messenger-send-icon: #7ec472;
	--df-messenger-user-message: #7ec472;
            } 